openapi: 3.1.0
info:
  title: IAM Identity Provider (IDP) API v2
  version: 2.0.0
  description: 微信应用管理及第三方身份提供能力（登录由 authn 模块统一提供）。
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam/v2
servers:
- url: https://iam.fangcunmount.cn/api/v2
  description: 生产环境
- url: http://localhost:18081/api/v2
  description: 本地开发
tags:
- name: IDP-WeChat
  description: 微信应用管理
- name: Health
  description: 健康检查
- name: IDP-Wechat
paths:
  /idp/wechat-apps:
    get:
      tags:
      - IDP-Wechat
      summary: 查询微信应用列表
      parameters:
      - name: type
        in: query
        description: 微信应用类型 (MiniProgram/MP)
        schema:
          type: string
      - name: status
        in: query
        description: 微信应用状态 (Enabled/Disabled/Archived)
        schema:
          type: string
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppListResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
    post:
      tags:
      - IDP-Wechat
      summary: 创建微信应用
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.CreateWechatAppRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/{app_id}:
    get:
      tags:
      - IDP-Wechat
      summary: 查询微信应用
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
    patch:
      tags:
      - IDP-Wechat
      summary: 更新微信应用基础信息
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.UpdateWechatAppRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/{app_id}/access-token:
    get:
      tags:
      - IDP-Wechat
      summary: 获取访问令牌（带缓存和自动刷新）
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.AccessTokenResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/{app_id}/disable:
    post:
      tags:
      - IDP-Wechat
      summary: 禁用微信应用
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 禁用成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/{app_id}/enable:
    post:
      tags:
      - IDP-Wechat
      summary: 启用微信应用
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 启用成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/refresh-access-token:
    post:
      tags:
      - IDP-Wechat
      summary: 强制刷新访问令牌
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.RefreshAccessTokenRequest'
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.AccessTokenResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/rotate-auth-secret:
    post:
      tags:
      - IDP-Wechat
      summary: 轮换认证密钥（AppSecret）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.RotateAuthSecretRequest'
      responses:
        '200':
          description: 轮换成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.RotateSecretResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  /idp/wechat-apps/rotate-msg-secret:
    post:
      tags:
      - IDP-Wechat
      summary: 轮换消息加解密密钥
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.RotateMsgSecretRequest'
      responses:
        '200':
          description: 轮换成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.RotateSecretResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
components:
  responses:
    NotFound:
      description: 不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse'
  schemas:
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.CreateWechatAppRequest:
      properties:
        app_id:
          description: 微信应用 ID（必填）
          type: string
        app_secret:
          description: AppSecret（可选，创建时设置）
          type: string
        name:
          description: 应用名称（必填）
          type: string
        type:
          description: 应用类型（MiniProgram/MP，必填）
          type: string
      required:
      - app_id
      - name
      - type
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.RefreshAccessTokenRequest:
      properties:
        app_id:
          description: 微信应用 ID
          type: string
      required:
      - app_id
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.RotateAuthSecretRequest:
      properties:
        app_id:
          description: 微信应用 ID
          type: string
        new_secret:
          description: 新的 AppSecret
          type: string
      required:
      - app_id
      - new_secret
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.RotateMsgSecretRequest:
      properties:
        app_id:
          description: 微信应用 ID
          type: string
        callback_token:
          description: 回调 Token
          type: string
        encoding_aes_key:
          description: 加密 AES Key
          type: string
      required:
      - app_id
      - callback_token
      - encoding_aes_key
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_request.UpdateWechatAppRequest:
      properties:
        name:
          type: string
        type:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.AccessTokenResponse:
      properties:
        access_token:
          description: 访问令牌
          type: string
        expires_in:
          description: 过期时间（秒）
          type: integer
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.ErrorResponse:
      properties:
        code:
          description: 错误码
          type: integer
        message:
          description: 错误消息
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.RotateSecretResponse:
      properties:
        message:
          description: 消息
          type: string
        success:
          description: 是否成功
          type: boolean
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppListResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse'
          type: array
        total:
          type: integer
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_idp_response.WechatAppResponse:
      properties:
        app_id:
          description: 微信应用 ID
          type: string
        id:
          description: 内部 ID
          type: string
        name:
          description: 应用名称
          type: string
        status:
          description: 应用状态（Enabled/Disabled/Archived）
          type: string
        type:
          description: 应用类型（MiniProgram/MP）
          type: string
      type: object
